body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.gap {
  gap: 10px;
}

.grid-items {
  border: 1px solid black;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.txt-lg-light {
  font-weight: 100;
  font-size: 2vw;
}

.txt-regular {
  font-weight: 100;
  font-size: 1.2vw;
}

/* Navigation styles */

.nav {
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  font-size: 1vw;
  padding: 5px 0;
  position: fixed;
  top: 0;
}

#logo img {
  width: 28%;
  margin-left: 100px;
}

.nav button {
  background-color: #ffc427;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 7px;
  font-size: 1vw;
}

.menu-info {
  gap: 30px;
}

.nav-logos {
  width: 100%;
}

/* Main */

.main {
  overflow: hidden;
}

.hero {
  background-image: url("../images/lo-homepage-background-010721.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.hero-items {
  padding: 10px;
  flex-direction: column;
}

.hero-items h1 {
  font-size: 3vw;
}

.hero-items p {
  font-size: 1.7vw;
}

.hero-btns {
  grid-template-columns: repeat(3, auto);
  width: 35vw;
  font-size: 1.2vw;
}

.hero-btns div {
  background-color: #009ddc;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 3px;
}

.hero-btns :nth-child(1) {
  background-color: #ee3831;
}

/* Grid styles */

/* Grid 1 */
.grid1 {
  grid-template-columns: repeat(2, 1fr);
  background-color: #242424;
  color: white;
  overflow: hidden;
}

.grid-items1 {
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.359);
  gap: 5px;
  padding: 10px;
}

.grid-items1a img {
  max-width: 55%;
}

/* Grid 2 */
.grid2{
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    color: white; 
    background-color: #009ddc;
}
.grid-items2 {
    border: 1px solid rgba(0, 0, 0, 0.338);
    padding: 15px;  
}

.grid2-txt-thick{
    font-size: 2vw;
    font-weight: 700;
}

.grid2-txt-light{
    font-size: 2vw;
    font-weight: 200;
}

.grid2-learn{
    font-size: 1vw;
    font-weight: 100;
}

/* Grid 3 */

.grid3{
    grid-template-columns: 1fr 1fr 1fr;
    color: white; 
    background-color: #7fc027;
}

.grid-items3 {
    border: 1px solid rgba(0, 0, 0, 0.594);
    padding: 15px;  
    flex-direction: column;
}

.grid3-span2 {
    grid-row: span 2;
    text-align: center;   
}

.grid-items3 img{
    max-width: 55%;
}

.grid3-lg-txt{
    font-size: 4.5vw;
    margin: 0;
}

.grid3-rg-txt{
    font-size: 1.2vw;
    font-weight: 200;
}

/* Grid 4 */
.grid4{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white; 
    background-color: #972169;
}
.grid-items4 {
    border: 1px solid rgba(0, 0, 0, 0.884);
    padding: 15px;  
    flex-direction: column;
}
.grid4-span2 {
    grid-row: span 2;
    text-align: center;   
}

.grid-items4 img{
    max-width: 25%;
}

.grid4-rg-txt{
    font-size: 1.7vw;
    font-weight: 200;
}

/* Grid 5 */

.grid5{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    color: white; 
    background-color: #009ddc;
}

.grid-items5{
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.884);
    padding: 20px;
}

.grid5-span4 {
    grid-row: span 2;
    grid-column: span 2;
   
}

.grid-items5 img{
    max-width: 100%;
}

/* Media queries */

@media screen and (min-width: 1441px) {
  
    .nav {
      min-width: 320px;
      overflow: hidden;
    }
    .nav button {
      font-size: 1vw;
      padding: 10px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    #logo img {
      width: 30%;
      margin-left: 15px;
    }
    .menu-info {
      margin-right: 15px;
    }
    .nav-logos {
      width: 25%;
    }
    .hero {
      height: 100vh;
      padding: 35px 45px;
    }
  
    .hero-items img {
      width: 70%;
    }
    .hero-btns {
      width: 42vw;
    }
  
    .hero-btns div {
      padding: 25px 10px;
    }
    .grid-items2 {
        padding: 30px;  
    }

    .grid-items3 {
        padding: 30px;  
    }

    .grid-items4 {
        padding: 20px 70px;  
    }

    .grid-items5 {
        padding: 70px;  
    }
  }

@media screen and (max-width: 1440px) and (min-width: 1025px) {
  
    .nav {
      min-width: 320px;
      overflow: hidden;
    }
    .nav button {
      font-size: 1vw;
      padding: 10px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    #logo img {
      width: 30%;
      margin-left: 15px;
    }
    .menu-info {
      margin-right: 15px;
    }
    .nav-logos {
      width: 35%;
    }
    .hero {
      height: 100vh;
      padding: 35px;
    }
  
    .hero-items img {
      width: 80%;
    }
    .hero-btns {
      width: 42vw;
    }
  
    .hero-btns div {
      padding: 12px;
    }
    .grid-items2 {
        padding: 25px;  
    }

    .grid-items3 {
        padding: 25px;  
    }
    .grid-items4 {
        padding: 20px 70px;  
    }

    .grid-items5 {
        padding: 70px;  
    }
  }

/* Laptop */

@media screen and (max-width: 1024px) and (min-width: 769px) {
 
  .nav {
    font-size: 1.5vw;
    min-width: 320px;
    overflow: hidden;
  }
  .nav button {
    font-size: 1.2vw;
    padding: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  #logo img {
    width: 35%;
    margin-left: 15px;
  }
  .menu-info {
    margin-right: 15px;
  }
  .nav-logos {
    width: 35%;
  }
  .hero {
    height: 95vh;
    padding: 0 15px;
  }

  .hero-items img {
    width: 80%;
  }
  .hero-btns {
    width: 42vw;
  }

  .hero-btns div {
    padding: 12px;
  }

  .grid-items2 {
    padding: 18px;  
}
.grid-items3 {
    padding: 20px;  
}

.grid-items4 {
    padding: 20px;  
}

.grid-items5 {
    padding: 50px;  
}
}

/* Tablet large */
@media screen and (max-width: 769px) and (min-width: 655px) {

  .nav {
    font-size: 1.5vw;
    min-width: 320px;
    overflow: hidden;
  }
  .nav button {
    font-size: 1vw;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  #logo img {
    width: 40%;
    margin-left: 10px;
  }
  .menu-info {
    margin-right: 15px;
  }
  .nav-logos {
    width: 40%;
  }
  .nav-globe {
    width: 15%;
  }

  .nav-down {
    width: 15%;
  }
  .hero-items img {
    width: 80%;
  }

  .hero-btns div {
    padding: 10px;
  }

  .hero-btns {    
    width: 45vw;
 
  }

  .hero {
    height: 60vh;
  }

  .grid-items2 {
    padding: 18px;  
}

.grid-items3 {
    padding: 18px;  
}

.grid-items4 {
    padding: 20px;  
}

.grid-items5 {
    padding: 20px 50px;  
}
}

/* Tablet */

@media screen and (max-width: 655px) and (min-width: 426px) {
    .hero {
        height: 60vh;
      }

      .nav {
        font-size: 1.5vw;
        min-width: 320px;
        padding: 3px 0;
        overflow: hidden;
      }
      .nav button {
        font-size: 1vw;
        padding: 3px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
      #logo img {
        width: 50%;
        margin-left: 10px;
      }
      .menu-info {
        margin-right: 15px;
      }
      .nav-logos {
        width: 25%;
      }

      .nav-globe {
        width: 15%;
      }
    
      .nav-down {
        width: 15%;
      }
     
      .hero-items img {
        width: 90%;
      }
    
      
      .hero-btns div {
        padding: 7px;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
    }
    
    .hero-btns {    
        width: 45vw;
     
      }

      
}
/* Mobile */
@media screen and (max-width: 426px) and (min-width: 321px) {
  body {
    background-color: red;
  }
  .nav {
    font-size: 1.5vw;
    min-width: 320px;
    padding: 3px 0;
    overflow: hidden;
  }
  .nav button {
    font-size: 1vw;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  #logo img {
    width: 50%;
    margin-left: 5px;
  }
  .menu-info {
    margin-right: 15px;
  }
  .nav-logos {
    width: 25%;
  }
  .nav-globe {
    width: 15%;
  }
  .nav-down {
    width: 15%;
  }

  .hero {
    height: 40vh;
  }
  .hero-items img {
    width: 90%;
  }

  
  .hero-btns div {
    padding: 7px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.hero-btns {    
    width: 45vw;
 
  }
}

/* small screens */
@media screen and (max-width: 320px) {
  body {
    background-color: red;
  }
  .nav {
    font-size: 1.5vw;
    max-width: 320px;
    overflow: hidden;
  }
  .nav button {
    font-size: 1vw;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  #logo img {
    width: 50%;
    margin-left: 5px;
  }
  .menu-info {
    margin-right: 15px;
  }
  .nav-logos {
    width: 25%;
  }

  .nav-globe {
    width: 15%;
  }

  .nav-down {
    width: 15%;
  }
  .hero {
    height: 40vh;
  }

  .hero-items img {
    width: 90%;
  }

  .hero-btns div {
    padding: 3px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.hero-btns {    
    width: 45vw;
 
  }
}
